/* NAVBAR WRAPPER */

.navbar-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-wrapper.hide {
  display: none;
}


/* NAVBAR */

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  height: 60px;

  background: linear-gradient(90deg, #f5781e, rgb(50, 218, 234), #15dec6);

  box-shadow: 0 4px 10px rgba(40, 69, 49, 0.3);
}


/* LOGO */

.logo a {
  color: gold;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}


/* NAV LINKS */

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 6px;

  position: relative;
  transition: 0.3s;
}


/* HOVER EFFECT */

.nav-links a:hover {
  color: #00e6e6;
  transform: scale(1.05);
}


/* UNDERLINE ANIMATION */

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;

  width: 0%;
  height: 2px;

  background: #00e6e6;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}


/* PAGE CONTENT */

.page-content {
  padding: 20px;
}

.page-content.full {
  margin-top: 0;
}


/* MOBILE */

@media(max-width:768px) {

  .menu-bar {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

}